body{
    background-color: rgb(143, 201, 157);
    color: #408e09;
    margin: 0;
    padding: 0;
}
.container{
            
    display: flex;
    min-height: 100vh;
}
.sidebar{
    background-color:#6eb385;
    width: 200px;
}
.menu-items{
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.active-menu{
    background-color: #32832e;
}
.menu-items:hover{
    background-color:#408e09;
}
.menu-icons{
    height: 20px;
}
.menu-text{
    margin: 5px;
    
}
.content{
    background-color: white;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.bottom-navigation-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color:#39df86;
    width: 100%;
    color: #fff;
    display: none;
}
.bottom-menu-icons{
    background-color: rgb(64, 179, 41);
    margin: 5px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}
.bottom-menu-icons-active{
    background-color: #41d97b;
}
 /* small devices */
 @media screen and (max-width: 599px){
    .sidebar{
        display: none;
    }
    .bottom-navigation-bar{
        display: flex;
        justify-content: space-around;
    }
}
 /* normal devices */
 @media screen and (min-width: 600px) and (max-width: 768px){
    .sidebar{
        display: none;
    }
    .bottom-navigation-bar{
        display: flex;
        justify-content: space-around;
    }
    }
    
/* tablets */
@media screen and (min-width:769px) and (max-width:992px){
    
}
     /* large device */
@media screen and (min-width:993px) and (max-width:1200px){
   
}

